.info-bar {
    width: 100%;
    max-width: $max-width;

    .alert {
        &__danger {
            color: $color-danger;
        }
        &__success {
            color: $color-success;
        }
        &__info {
            color: $color-info;
        }
    }
}
