@font-face {
  font-family: "Unibase Fonts";
  src: url(/fonts/UnibaseFonts.ttf?0f3ffd2bcf24eb25c3f12ec27b6d9ea1);
}
html, body {
  height: 99%;
  font-family: "Unibase Fonts", sans-serif;
  font-size: 18px;
}

body > footer {
  position: sticky;
  top: 99vh;
}

body > main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}
body > main > .content {
  max-width: 1024px;
  width: 100%;
}

h2 {
  font-weight: 400;
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  text-decoration: none;
}
h2:visited {
  color: rgb(0, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
input {
  font-family: "Unibase Fonts", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-line,
input[type=url]::placeholder {
  font-family: "Unibase Fonts", sans-serif;
}

input[type=submit] {
  cursor: pointer;
}

.input {
  font-size: 1.2rem;
  min-height: 36px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 4px 4px 0px 0px #000;
}
.input:hover {
  box-shadow: 4px 2px 0px 0px #000;
}

.text-align_center {
  text-align: center;
}
.text-align_right {
  text-align: right;
}
.text-align_left {
  text-align: left;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  padding: 10px 25px;
  background-color: rgba(250, 250, 250, 0.5);
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 4px 4px 0px 0px #000;
}
.header__h2 {
  font-weight: 400;
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  text-decoration: none;
}
.header__h2:visited {
  color: rgb(0, 0, 0);
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  width: 100%;
  height: 30px;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: rgba(250, 250, 250, 0.5);
  box-shadow: 4px 4px 0px 0px #000;
}

.main-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  font-size: 1.5rem;
}
.main-form__form {
  max-width: 1024px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.main-form__input-link-label, .main-form__input-link, .main-form__submit {
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-form__input-link-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}
.main-form__input-link {
  min-height: 30px;
  width: 100%;
  box-shadow: 4px 4px 0px 0px #000;
}
.main-form__input-link:focus-visible {
  outline: none;
  box-shadow: 4px 2px 0px 0px #000;
}
.main-form__submit {
  min-height: 36px;
  width: 20%;
  min-width: 200px;
  cursor: pointer;
}
.main-form input[type=url] {
  padding-left: 10px;
}

.info-bar {
  width: 100%;
  max-width: 1024px;
}
.info-bar .alert__danger {
  color: red;
}
.info-bar .alert__success {
  color: #15a748;
}
.info-bar .alert__info {
  color: #0000FF;
}

.ready-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}
.ready-link__inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
.ready-link__label-wrapper {
  padding-right: 10px;
}

.register-form__form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding-top: 10px;
}
.register-form__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
}
.register-form__label {
  width: 30%;
}
@media (max-width: 500px) {
  .register-form__label {
    width: 100%;
  }
}
.register-form__input {
  width: 65%;
}
@media (max-width: 500px) {
  .register-form__input {
    width: 100%;
  }
}
.register-form__submit {
  margin-top: 10px;
}

.login-form__form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding-top: 10px;
}
.login-form__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
}
.login-form__label {
  width: 30%;
}
@media (max-width: 500px) {
  .login-form__label {
    width: 100%;
  }
}
.login-form__input {
  width: 65%;
}
@media (max-width: 500px) {
  .login-form__input {
    width: 100%;
  }
}
.login-form__submit {
  margin-top: 10px;
}
.login-form__forgot-password {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.forgot-password-form__form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding-top: 10px;
}
.forgot-password-form__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
}
.forgot-password-form__label {
  width: 30%;
}
@media (max-width: 500px) {
  .forgot-password-form__label {
    width: 100%;
  }
}
.forgot-password-form__input {
  width: 65%;
}
@media (max-width: 500px) {
  .forgot-password-form__input {
    width: 100%;
  }
}
.forgot-password-form__submit {
  margin-top: 10px;
}
.forgot-password-form__forgot-password {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.forgot-password-form__h2 {
  text-align: center;
}
.forgot-password-form__note {
  text-align: center;
  padding: 20px 10px;
}

.dashboard__title {
  text-align: center;
}
.dashboard__menu {
  display: flex;
  justify-content: center;
}
.dashboard__list {
  max-width: 400px;
}
.dashboard__list-item {
  padding-bottom: 10px;
}

.user__title {
  text-align: center;
}
.user__menu {
  display: flex;
  justify-content: center;
}
.user__row {
  display: flex;
  padding-bottom: 10px;
}
.user__label {
  width: 30%;
  color: rgb(63, 63, 63);
  font-weight: 600;
}
.user__field {
  width: 70%;
}
