.register-form {
    &__form {
        display: flex;
        flex-direction: column;

        max-width: 600px;
        width: 100%;

        margin: auto;

        padding-top: 10px;
    }

    &__row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10px;
    }
    &__label {
        width: 30%;
        @media (max-width: $w-500) {
            width: 100%;
        }
    }
    &__input {
        width: 65%;
        @media (max-width: $w-500) {
            width: 100%;
        }
    }
    &__submit {
        margin-top: 10px;
    }
}
