$max-width: 1024px;

$w-500: 500px;

$dark: rgb(0, 0, 0);
$main-color: rgba(250, 250, 250, 0.5);
$shadow-color: #000;
$border-radius: 5px;
$box-shadow: 4px 4px 0px 0px $shadow-color;
$box-shadow-active: 4px 2px 0px 0px $shadow-color;
$color-danger: #FF0000FF;
$color-info: #0000FF;
$color-success: #15a748;

